html
  box-sizing border-box
  word-spacing 1px
  font-size 16px
  font-family: 'Times New Roman', a-otf-ryumin-pr6n, 'Hiragino Mincho', 'Noto Serif CJK JP', 'Yu Mincho', serif, 'Apple Color Emoji', 'Noto Color Emoji', 'Noto Emoji';
  // font-feature-settings 'pkna'
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

*, *:before, *:after
  box-sizing border-box
  margin 0

ul
  list-style none

.page-enter-active, .page-leave-active
  transition opacity 0.5s

.page-enter, .page-leave-to
  opacity 0
